body {
  background: color #f0f5ff;
  font-family: sans-serif;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 800px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: none;
  width: 274px;
  color: black;
}

.controls {
  width: 294px;
  margin: 15px auto;
}

#remove_fields {
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #232c3d;
}
.one {
  display: flex;
  align-content: flex-end;
}

.form-check {
  display: flex;
  align-items: center;
  color: black;
  padding-left: 10px;
}

.p {
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding: 10px;
}

.hero {
  display: flex;
}

.img {
  display: flex;
  justify-content: center;
}

.made {
  color: #232c3d;
  display: flex;
  justify-content: center;
}
